/* 1. inline css */
<body style="background-color:red;" >
.
.
.
.
</body>

/* 2. internal css */
<style>

body {
   "background-color:red;"
}

</style>

/* 3. external css */
*make new folder and file as style.css
*cut and paste style in it
*to link it to all pages use- link

/* 4. css selector */
for class use . and for (body use body) and (# for id)
*ex .bacon
    .brocolli
  <img class="bacon"src="https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/118/bacon_1f953.png" alt="bacon-img">
  <img class="brocolli"src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/broccoli_1f966.png" alt="Broccoli">

css code:-
.bacon{
  background-color: red;
}
.brocolli{
  background-color: green;
}

/* 5. class vs id */
*class can be mutiple time used in a single
*id cannot be used more than once in a single 
but can be used more than once by wrinting differnt name
*use # for id 

/* 6. psuedo class */
:hover
:empty
:not
:nth-child
:nth-col
:nth-last-child
:nth-last-col
:nth-last-of-type
:nth-of-type
:current
:target
:enabled
:disable
/* 7. Favicon/favourite icon */
*icon for ::-webkit-slider-thumb

/* 8.div */
*an html element
*it does not do anything unless you use css with it
*to divide the contents in separate box or container

/*9. margin,padding,border */
css code:-

body{
  margin: 0;
}
h1{
  margin-top: 0;
}
.top-container{
  background-color: #C2FFD9;
  height: 200px;
  width: 200px;
  padding: 20px;
  border:solid 10px;
  
}
.middle-container{
  background-color: red;
  margin: 0;
  margin-left: 260px;
  height: 200px;
  width: 200px;
  border:solid 20px;
}
.bottom-container{
  background-color: blue;
  height: 200px;
  width: 200px;
  border: solid 10px;
  margin-left: 500px;
}

HTLM code;-
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Intakhab</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="top-container">
      <h1>I'm Intakhab</h1>
       <p>A developer</p>

    </div>
    <div class="middle-container">

    </div>
    <div class="bottom-container">
    </div>
  </body>
</html>

/* 10. display */
1-block - <p>(paragraph)
2.inline - <span>,<img>(image),<a>(anchor) 
3.inline block - display:inline-block
4.none - display:none; (to hide words,img, etc)
       - visibility:disappear: (to hide words,img, etc)

/* 11. static and relative positioning */
relative
Position  -static 
          -relative
          -absolute
          -fixed
          
coordinate-top (img{top:20px;})-goes to bottom from top 
          -bottom
          -left
          -right
*margin affect other img /text but coordinate doesnot

absolute
position -position:absolute

fixed
position -position:fixed

/*12. margin */
margin: 5%;                 /* All sides: 5% margin */

margin: 10px;               /* All sides: 10px margin */

margin: 1.6em 20px;         /* top and bottom: 1.6em margin */
                            /* left and right: 20px margin  */

margin: 10px 3% -1em;       /* top:            10px margin */
                            /* left and right: 3% margin   */
                            /* bottom:         -1em margin */

margin: 10px 3px 30px 5px;  /* top:    10px margin */
                            /* right:  3px margin  */
                            /* bottom: 30px margin */
                            /* left:   5px margin  */

margin: 2em auto;           /* top and bottom: 2em margin   */
                            /* Box is horizontally centered */

margin: auto;               /* top and bottom: 0 margin     */
                            /* Box is horizontally centered */

/* 11. Fonts*/
font-family: 'Merriweather', serif;
etc

/* 12.font size */
  font-size: 90px;
  16px = 100% = 1em = witdh of Letter M (capital)

  90px = 562.5% = 5.6em

  in css3 we introduce rem instead of em as it is dynamic and adapt to zoom in and out .
  preferebly try to use rem instead of em ,%,px

/* 13. font weight */
*it specifies the weight and boldness of text*2 means double boldness
font-weight:2

/* 14. line height */
*to increase space in between the line of paragraphs
line-height:2;

/* 15. float */
to allign image with text side by side

/* 16.clear */
*for the text not to come at the bottom of image after filling all the side space with image


/* 17. ADvance css = Z-Indes */

/* 18. Mobile Friendly  */
using @media  type  feature
